@{
    ViewData["Title"] = "Estate details";
}

<div class="row">
    <div class="col-lg">
        <div class="mb-3" id="CategoryTableContainer"></div>
        <div class="mb-3" id="BuildingTypeTableContainer"></div>
        <div class="mb-3" id="EstateOptionTableContainer"></div>
    </div>
    <div class="col-lg">
        <div class="mb-3" id="BuildingPlanTableContainer"></div>
        <div class="mb-3" id="EstateConditionTableContainer"></div>
        <div class="mb-3" id="ZoneTableContainer"></div>
    </div>
</div>

@section Scripts {
    <script src="~/js/tablescript.js" asp-append-version="true"></script>
}

