@using RealEstateAgency.Core.Models
@model List<RoleViewModel>

@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="div-flex-center">
    <p>Here you can manage roles:</p>
</div>
<div class="div-flex-center">
    <div style="width: 90%">
        <a class="btn btn-table" role="button" asp-area="Admin" asp-controller="Role" asp-action="AddRole">
            <i class="fas fa-plus"></i>
            Add role
        </a>
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Role Name</th>
                    <th scope="col">Is set</th>
                    <th scope="col" style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.RoleName</td>
                        @if (role.IsSet)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>
                            <a class="btn btn-primary" role="button" asp-area="Admin" asp-controller="Role" asp-action="EditRole" asp-route-id="@role.RoleId">
                                <i class="fas fa-edit"></i>
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>