<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealEstateAgency</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="~/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/jtable/themes/metro/blue/jtable.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/fancy-file-uploader/fancy_fileupload.css">

</head>

<body>
    <header>
        <nav id="navBar" class="admin-nav navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RealEstateAgency</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" id="sidebarToggle" href="#!" onclick="toggleNav()"><span class="navbar-toggler-icon"></span></a>
                        </li>
                        @*<li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div id="mySidenav" class="sidenav navbar-dark bg-dark">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <div class="sidenav-icon"><i class="fa fa-home"></i></div>
            Home
        </a>
        <br />
        <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="ManageUsers">
            <div class="sidenav-icon"><i class="fa fa-users"></i></div>
            Users
        </a>
        <a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="ManageRoles">
            <div class="sidenav-icon"><i class="fas fa-shield-alt"></i></div>
            Roles
        </a>
        <a class="nav-link" asp-area="Admin" asp-controller="Estates" asp-action="Index">
            <div class="sidenav-icon"><i class="fa fa-building"></i></div>
            Estates
        </a>
        <a class="nav-link" asp-area="Admin" asp-controller="EstateDetails" asp-action="Index">
            <div class="sidenav-icon"><i class="fas fa-tools"></i></div>
            Estate details
        </a>
    </div>
    <div id="main">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                <div class="div-flex-center">
                    &copy; 2022 - RealEstateAgency - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui-1.10.0.min.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin='anonymous'></script>
    <script src="~/jtable/jquery.jtable.min.js" type="text/javascript"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>